/dependencies.zip
/dependencies-*.zip
/dependencies.*.zip
/ctoolbox-dependencies.zip
/ctoolbox-dependencies-*.zip
/ctoolbox-dependencies.*.zip
/ctoolbox-dependencies-*.tar
/ctoolbox-dependencies-*.tar.gz
